* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 2048px;
  margin-inline: auto;
}
.content {
  width: 100%;
  flex-grow: 1;
}

footer {
  margin-top: auto;
}
.totop.active {
    display: block;
}
.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    z-index: 9;
    display: none;
    opacity: .8;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
}
.totop i {
    line-height: 50px;
    color: #000;
    font-size: 16px;
}
@media screen and (max-width: 479px) {
    .totop {
        bottom: 10px;
        right: 10px;
    }
}
